<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ca làm việc</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 200px;
            background-color: rgb(198, 198, 198);
            padding-top: 20px;
        }

        .sidebar .nav {
            display: flex;
            flex-direction: column;
        }

        .sidebar .nav a {
            margin: 10px 0;
            background-color: gray;
            border-radius: 15px;
            text-align: center;
            color: white;
            padding: 10px 0;
            display: block;
        }

        .nav a:hover {
            color: blue;
        }

        .bill-list {
            background-color: rgb(244, 243, 243);
            margin-left: 220px;
            padding: 20px;
        }

        .table-bordered {
            background-color: white;
        }

        .table th, .table td {
            text-align: center;
        }
    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <nav class="nav flex-column">
                <a th:if="${user.role.roleId==4 || user.role.roleId==5}" href="/management">Trang chủ</a>
                <a th:if="${user.role.roleId==2 || user.role.roleId==5}" href="/products">Kho</a>
                <a th:if="${user.role.roleId==2 || user.role.roleId==5}" href="/categories">Danh mục</a>
                <a th:if="${user.role.roleId==3 || user.role.roleId==5}" href="/management/table">Danh sách bàn</a>
                <a th:if="${user.role.roleId==4 || user.role.roleId==5}" href="/management/allbill">Tất cả Bill</a>
                <a th:if="${user.role.roleId==5}" href="/management/jobboard" style="background-color: black; color: white">Bảng công việc</a>
                <a th:if="${user.role.roleId==5}" href="/admin/users/statistic">Thống kê</a>
                <a th:if="${user.role.roleId==5}" href="/admin/users">Cài đặt</a>
            </nav>
        </div>
        <div class="col-md-10 offset-md-1 bill-list">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="my-4">Bảng công việc</h2>
                    <form action="#" method="get" class="form-inline mb-3">
                        <input type="text" name="search" placeholder="Tìm bằng tên" class="form-control mr-2" th:value="${search}"/>
                        <input type="submit" class="btn btn-primary" value="Tìm kiếm"/>
                    </form>
                </div>


                <div class="col-md-6">
                    <div class="row" style="border-bottom: 1px solid rgb(184, 184, 184); display: flex;margin-top: 5%">
                        <div class="col-4" style="color: #0e4bf1; text-transform: uppercase">
                            <h5 class="username" style="padding: 0 20px;font-weight: bold;"
                                th:text="${user.getUsername()}"></h5>
                        </div>
                        <div class="col-4">
                            <button type="button" class="" style="border: none;">
                                <a href="/staffProfile" style="padding: 0 20px">
                                    <i class="fas fa-user"></i> Cá nhân
                                </a>
                            </button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="" style="border: none;">
                                <a href="/logout" style="padding: 0 20px">
                                    <i class="fas fa-sign-out-alt"></i> Đăng xuất
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong th:text="${message}"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col-12">
                    <div th:if="${jobboards.isEmpty()}">
                        <p class="text-center">Không tìm thấy nhân viên nào</p>
                    </div>
                    <div th:unless="${jobboards.isEmpty()}">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên nhân viên</th>
                                <th scope="col">Ca làm việc</th>
                                <th scope="col">Thời gian làm</th>
                                <th scope="col">Có mặt</th>
                                <th scope="col">Vắng mặt</th>
                                <th scope="col">Phân quyền</th>
                                <div th:if="${user.role.roleId == 5}">
                                    <th scope="col">Hành động</th>
                                </div>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="jobboard : ${jobboards}">
                                <td th:text="${jobboard.getId() }"></td>
                                <td th:text="${jobboard.user.fullname}"></td>
                                <td th:text="${jobboard.getShift()}"></td>
                                <td th:text="${jobboard.getShift() == 1 ? '8h-16h' : '15h-23h'}"></td>
                                <td>
                                    <div style="display: flex; justify-content: center; align-items: center;">
                                        <span style="color: green; margin-right: 10px;"
                                              th:text="${jobboard.getPresents()}"></span>
                                        <div th:if="${user.role.roleId == 5}">
                                            <form action="#" th:action="@{/management/jobboard/updatePresents}"
                                                  method="post" style="margin: 0;">
                                                <input type="hidden" name="id" th:value="${jobboard.getId()}"/>
                                                <button type="submit" class="btn btn-success"><i
                                                        class="bi bi-check-circle"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div style="display: flex; justify-content: center; align-items: center;">
                                        <span style="color: red; margin-right: 10px;"
                                              th:text="${jobboard.getAbsents()}"></span>
                                        <div th:if="${user.role.roleId == 5}">
                                            <form action="#" th:action="@{/management/jobboard/updateAbsents}"
                                                  method="post" style="margin: 0;">
                                                <input type="hidden" name="id" th:value="${jobboard.getId()}"/>
                                                <button type="submit" class="btn btn-danger"><i
                                                        class="bi bi-x-circle"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td th:text="${jobboard.user.role.roleName}"></td>
                                <div th:if="${user.role.roleId == 5}">
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#editShiftModal"
                                                th:data-jobboard-id="${jobboard.getId()}"
                                                th:data-current-shift="${jobboard.getShift()}">
                                            Sửa ca làm
                                        </button>
                                    </td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="pagination-container" th:unless="${jobboards.isEmpty()}">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/management/jobboard(page=${currentPage - 1}, size=${size}, search=${search})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:each="page : ${#numbers.sequence(0, totalPages - 1)}"
                                    th:classappend="${page == currentPage} ? 'active'">
                                    <a class="page-link"
                                       th:href="@{/management/jobboard(page=${page}, size=${size}, search=${search})}"
                                       th:text="${page + 1}"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/management.jobboard(page=${currentPage + 1}, size=${size},  search=${search})}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Shift Modal -->
<div class="modal fade" id="editShiftModal" tabindex="-1" role="dialog" aria-labelledby="editShiftModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editShiftModalLabel">Edit Shift</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/management/jobboard/updateShift}" method="post">
                    <input type="hidden" name="id" id="shiftJobboardId"/>
                    <div class="form-group">
                        <label for="shiftSelect">Chọn ca làm:</label>
                        <select class="form-control" id="shiftSelect" name="shift">
                            <option value="1">8h-16h</option>
                            <option value="2">15h-23h</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#editShiftModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var jobboardId = button.data('jobboard-id'); // Extract info from data-* attributes
            var currentShift = button.data('current-shift');

            // Update the modal's content.
            var modal = $(this);
            modal.find('#shiftJobboardId').val(jobboardId);
            modal.find('#shiftSelect').val(currentShift);
        });
    });
</script>
</body>
</html>
