<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thu ngân</title>
    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 200px; /* Adjust width as needed */
            background-color: rgb(198, 198, 198);
            padding-top: 20px;
        }

        .sidebar .nav {
            display: flex;
            flex-direction: column;
        }

        .product-img {
            max-width: 100%;
            height: auto;
        }

        .sidebar .nav a {
            margin: 10px 0;
            background-color: gray;
            border-radius: 15px;
            text-align: center;
            color: white;
            padding: 10px 0;
            display: block;
        }

        .sidebar .nav a:hover {
            color: blue;
        }

        .product-list {
            background-color: rgb(244, 243, 243);
            margin-left: 220px; /* Ensure content does not overlap with sidebar */
            padding: 20px;
        }

        /*.username{*/
        /*    background-color: gray;*/
        /*    color: aliceblue;*/
        /*    text-align: center;*/
        /*    padding: 5px 0;*/
        /*}*/
    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <nav class="nav flex-column">
                <a th:if="${user.getRole_id()==4 || user.getRole_id()==5}" href="/management" style="background-color: black; color: white">Trang chủ</a>
                <a th:if="${user.getRole_id()==2 || user.getRole_id()==5}" href="/products">Kho</a>
                <a th:if="${user.getRole_id()==2 || user.getRole_id()==5}" href="/categories">Danh mục</a>
                <a th:if="${user.getRole_id()==3 || user.getRole_id()==5}" href="/management/table">Danh sách bàn</a>
                <a th:if="${user.getRole_id()==4 || user.getRole_id()==5}" href="/management/allbill">Tất cả Bill</a>
                <a th:if="${user.getRole_id()==5}" href="/respon">Phản hồi khách hàng</a>
<!--                <a th:if="${user.getRole_id()==5 || user.getRole_id()==2 || user.getRole_id()==3 || user.getRole_id()==4}" href="/management/jobboard">Bảng công việc</a>-->
                <a th:if="${user.getRole_id()==5}" href="/admin/users/statistic">Thống kê</a>
                <a th:if="${user.getRole_id()==5}" href="/admin/users">Cài đặt</a>
            </nav>
        </div>
        <div class="col-md-6 offset-md-1 product-list">
            <div class="row">
                <div class="col-12">
                    <h1 class="my-4">Menu</h1>
                </div>
            </div>
            <div class="row">
                <th:block th:each="category : ${categories}">
                    <div class="col-md-3 mb-3">
                        <button type="button" class="btn btn-outline-secondary btn-block">
                            <a style="color: black" th:href="@{/management/products/{id}(id=${category.cid})}"
                               th:text="${category.categoryName}"></a>
                        </button>
                    </div>
                </th:block>
            </div>
            <div class="row mt-4">
                <!-- Product example -->
                <th:block th:each="product : ${products}">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img th:src="'data:image/jpeg;base64,' + ${product.image}" alt="Product Image" />
                            <div class="card-body">
                                <a class="card-title"
                                   th:href="@{/management/products/{pid}/addtocart(pid=${product.pid})}"
                                   th:text="${product.getPname()}"></a>
                                <p class="card-text" th:text="${product.getPrice() + ' VND'}"></p>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                <a class="page-link" th:href="@{/management(page=${currentPage - 1}, size=${6})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <th:block th:each="pageNum : ${pageNumbers}">
                                <li class="page-item" th:classappend="${currentPage == pageNum} ? 'active'">
                                    <a class="page-link" th:href="@{/management(page=${pageNum}, size=${6})}"
                                       th:text="${pageNum}"></a>
                                </li>
                            </th:block>
                            <li class="page-item" th:classappend="${currentPage == pageNumbers.size()} ? 'disabled'">
                                <a class="page-link" th:href="@{/management(page=${currentPage + 1}, size=${6})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="border-bottom: 1px solid rgb(184, 184, 184); display: flex;margin-top: 5%;margin-left: 5%">
                <div class="col-4" style="color: #0e4bf1; text-transform: uppercase">
                    <h5 class="username" style="padding: 0 20px;font-weight: bold;"
                        th:text="${user.getUsername()}"></h5>
                </div>
                <div class="col-4">
                    <button type="button" class="" style="border: none; background-color: white">
                        <a href="/staffProfile" style="padding: 0 10px">
                            <i class="fas fa-user"></i> Cá nhân
                        </a>
                    </button>
                </div>
                <div class="col-4">
                    <button type="button" class="" style="border: none; background-color: white">
                        <a href="/logout" style="padding: 0 10px">
                            <i class="fas fa-sign-out-alt"></i>Đăng xuất
                        </a>
                    </button>
                </div>
            </div>

            <form id="cart-form" th:action="@{/createBill}" method="POST">
                <div class="row">
                    <div class="col-12">
                        <h2 class="my-4">Sản phẩm</h2>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label>
                            <input type="number" class="form-control" placeholder="Số lượng khách hàng" name="numberOfGuest" required>
                        </label>
                    </div>

                    <div class="col-6">
                        <label>
                            <select class="form-control" name="tableId" required>
                                <option value="" disabled selected>Chọn bàn</option>
                                <th:block th:each="table : ${tables}">
                                    <option th:value="${table.getTid()}">
                                        <span th:text="${table.getTid()}"></span>
                                        <span th:text="${table.getStatus() == 0 ? ' - còn bàn' : ' - hết bàn'}"></span>
                                    </option>
                                </th:block>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tổng</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="item, iterStat : ${cartItems}">
                                <tr>
                                    <td th:text="${item.product.pname}"></td>
                                    <td th:text="${item.product.price} + ' VND'"></td>
                                    <td>
                                        <label>
                                            <input style="width: 30%" type="number" min="1" th:value="${item.quantity}" disabled>
                                        </label>
                                    </td>
                                    <td th:text="${item.product.price * item.quantity}"></td>
                                    <td>
                                        <div style="width: 20px;
                                        height: 20px;
                                        line-height: 16px;
                                        text-align: center;
                                        border-radius: 100%;
                                        background-color: red;">
                                            <a th:href="@{/management/delete/{pid}(pid=${item.product.pid})}" style="text-decoration: none; color: white">x</a>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="3">Tổng chi phí</th>
                                <th th:text="${totalPrice}"></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <button type="submit" class="btn btn-success">Tạo Bill</button>
                    </div>
                </div>
                <div class="row mt-3" th:if="${successMessage}">
                    <div class="col-12">
                        <div class="alert alert-success" role="alert">
                            <p th:text="${successMessage}"></p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3" th:if="${message}">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            <p th:text="${message}"></p>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
